---
import Layout from '../layouts/Layout.astro';
import { groupByYear } from '../helpers';

interface Frontmatter {
	title: string;
	slug: string;
	date: string;
}

const posts = await Astro.glob('./*.md');
const groupedPosts = groupByYear(posts)
---

<Layout title="Posts">
	<ul>
		{Object.entries(groupedPosts)
			.sort((a, b) => b[0] - a[0])
			.map(([year, posts]) => (
			<section>
				<h2>{year}</h2>
				<ul>
					{posts.map(post => <li><a href={`/${post.frontmatter.slug}`}>{post.frontmatter.title}</a></li>)}
				</ul>
			</section>
		))}
	</ul>
</Layout>

<style>
	section {
		margin-bottom: 1.85rem;
	}

	h2 {
		font-size: 1.25rem;
		margin-bottom: .5rem;
		/* font-family: var(--font-secondary); */
		font-weight: 600;
	}

	ul {
		list-style-type: circle;
		margin-left: 0;
	}

	li {
		margin-bottom: .5rem;
		font-size: 1.25rem;
		margin-left: 2.25rem;
	}
</style>
