---
import Layout from './Layout.astro';
import { formatDate } from '../helpers';
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <small>{formatDate(frontmatter.date)}</small>
  <h1>{frontmatter.title}</h1>
  <slot />
</Layout>

<style>

</style>

